USE [master]
GO
/****** Object:  Database [QLSV]    Script Date: 5/4/2021 4:59:21 PM ******/
CREATE DATABASE [QLSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER_CNTT\MSSQL\DATA\QLSV.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER_CNTT\MSSQL\DATA\QLSV_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSV]
GO
/****** Object:  User [PGV_0]    Script Date: 5/4/2021 4:59:21 PM ******/
CREATE USER [PGV_0] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[PGV_0]
GO
/****** Object:  User [HTKN]    Script Date: 5/4/2021 4:59:21 PM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [3]    Script Date: 5/4/2021 4:59:21 PM ******/
CREATE USER [3] FOR LOGIN [user1] WITH DEFAULT_SCHEMA=[3]
GO
/****** Object:  User [2]    Script Date: 5/4/2021 4:59:21 PM ******/
CREATE USER [2] FOR LOGIN [KHOA_CNTT] WITH DEFAULT_SCHEMA=[2]
GO
/****** Object:  User [1]    Script Date: 5/4/2021 4:59:21 PM ******/
CREATE USER [1] FOR LOGIN [PGV_0] WITH DEFAULT_SCHEMA=[1]
GO
/****** Object:  DatabaseRole [user]    Script Date: 5/4/2021 4:59:21 PM ******/
CREATE ROLE [user]
GO
/****** Object:  DatabaseRole [PGV]    Script Date: 5/4/2021 4:59:21 PM ******/
CREATE ROLE [PGV]
GO
/****** Object:  DatabaseRole [KHOA]    Script Date: 5/4/2021 4:59:21 PM ******/
CREATE ROLE [KHOA]
GO
ALTER ROLE [PGV] ADD MEMBER [PGV_0]
GO
ALTER ROLE [db_owner] ADD MEMBER [PGV_0]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [user] ADD MEMBER [3]
GO
ALTER ROLE [db_datareader] ADD MEMBER [3]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [3]
GO
ALTER ROLE [KHOA] ADD MEMBER [2]
GO
ALTER ROLE [user] ADD MEMBER [2]
GO
ALTER ROLE [db_owner] ADD MEMBER [2]
GO
ALTER ROLE [db_datareader] ADD MEMBER [2]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [2]
GO
ALTER ROLE [PGV] ADD MEMBER [1]
GO
ALTER ROLE [db_owner] ADD MEMBER [1]
GO
ALTER ROLE [db_datareader] ADD MEMBER [user]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [user]
GO
ALTER ROLE [db_owner] ADD MEMBER [PGV]
GO
ALTER ROLE [db_owner] ADD MEMBER [KHOA]
GO
/****** Object:  Schema [1]    Script Date: 5/4/2021 4:59:22 PM ******/
CREATE SCHEMA [1]
GO
/****** Object:  Schema [2]    Script Date: 5/4/2021 4:59:22 PM ******/
CREATE SCHEMA [2]
GO
/****** Object:  Schema [3]    Script Date: 5/4/2021 4:59:22 PM ******/
CREATE SCHEMA [3]
GO
/****** Object:  Schema [PGV_0]    Script Date: 5/4/2021 4:59:22 PM ******/
CREATE SCHEMA [PGV_0]
GO
/****** Object:  Table [dbo].[checkNhapDiem]    Script Date: 5/4/2021 4:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[checkNhapDiem](
	[MaSV] [nvarchar](10) NOT NULL,
	[MaMH] [nvarchar](10) NOT NULL,
	[DaNhap] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK__checkNha__A55755E71D4BF1D1] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diem]    Script Date: 5/4/2021 4:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem](
	[MaSV] [nvarchar](10) NOT NULL,
	[MaMH] [nvarchar](10) NOT NULL,
	[Lan] [int] NOT NULL,
	[Diem] [float] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK__Diem__B5910483243804CC] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaMH] ASC,
	[Lan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 5/4/2021 4:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [nvarchar](10) NOT NULL,
	[TenKhoa] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK__Khoa__65390405CD20538D] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 5/4/2021 4:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [nvarchar](10) NOT NULL,
	[TenLop] [nvarchar](100) NOT NULL,
	[MaKhoa] [nvarchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK__Lop__3B98D27341884A46] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 5/4/2021 4:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMH] [nvarchar](10) NOT NULL,
	[TenMH] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK__MonHoc__2725DFD9BC9D5B9A] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 5/4/2021 4:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [nvarchar](10) NOT NULL,
	[Ho] [nvarchar](20) NOT NULL,
	[Ten] [nvarchar](10) NOT NULL,
	[MaLop] [nvarchar](10) NULL,
	[Phai] [bit] NULL,
	[NgaySinh] [date] NULL,
	[NoiSinh] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[NghiHoc] [bit] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK__SinhVien__2725081A539350F5] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_957246465]    Script Date: 5/4/2021 4:59:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_957246465] ON [dbo].[checkNhapDiem]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1730105204]    Script Date: 5/4/2021 4:59:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1730105204] ON [dbo].[Diem]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_581577110]    Script Date: 5/4/2021 4:59:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_581577110] ON [dbo].[Khoa]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1570104634]    Script Date: 5/4/2021 4:59:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1570104634] ON [dbo].[Lop]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1698105090]    Script Date: 5/4/2021 4:59:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1698105090] ON [dbo].[MonHoc]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1618104805]    Script Date: 5/4/2021 4:59:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1618104805] ON [dbo].[SinhVien]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[checkNhapDiem] ADD  CONSTRAINT [DF__checkNhap__DaNha__3CDEFCE5]  DEFAULT ((0)) FOR [DaNhap]
GO
ALTER TABLE [dbo].[checkNhapDiem] ADD  CONSTRAINT [MSmerge_df_rowguid_9ED9AC68DC1045B8AA2CC2518B7624A1]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[Diem] ADD  CONSTRAINT [MSmerge_df_rowguid_F6022CB8472E48D7AD9A20D98F51DF3A]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[Khoa] ADD  CONSTRAINT [MSmerge_df_rowguid_60FABB4E2FCB4FD4AB569B80479B861D]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[Lop] ADD  CONSTRAINT [MSmerge_df_rowguid_C60AF7B4C08C4161B29706C7C5370182]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[MonHoc] ADD  CONSTRAINT [MSmerge_df_rowguid_CE44403262A94349971A075D80A893FC]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[SinhVien] ADD  CONSTRAINT [DF__SinhVien__Phai__634EBE90]  DEFAULT ((1)) FOR [Phai]
GO
ALTER TABLE [dbo].[SinhVien] ADD  CONSTRAINT [MSmerge_df_rowguid_8C39A164544E4F33A8C24B06C2F61284]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[checkNhapDiem]  WITH NOCHECK ADD  CONSTRAINT [FK__checkNhapD__MaMH__3BEAD8AC] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([MaMH])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[checkNhapDiem] CHECK CONSTRAINT [FK__checkNhapD__MaMH__3BEAD8AC]
GO
ALTER TABLE [dbo].[checkNhapDiem]  WITH NOCHECK ADD  CONSTRAINT [FK__checkNhapD__MaSV__3AF6B473] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[checkNhapDiem] CHECK CONSTRAINT [FK__checkNhapD__MaSV__3AF6B473]
GO
ALTER TABLE [dbo].[Diem]  WITH NOCHECK ADD  CONSTRAINT [FK__Diem__MaMH__69FBBC1F] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([MaMH])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK__Diem__MaMH__69FBBC1F]
GO
ALTER TABLE [dbo].[Diem]  WITH NOCHECK ADD  CONSTRAINT [FK__Diem__MaSV__690797E6] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK__Diem__MaSV__690797E6]
GO
ALTER TABLE [dbo].[Lop]  WITH NOCHECK ADD  CONSTRAINT [FK__Lop__MaKhoa__5F7E2DAC] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK__Lop__MaKhoa__5F7E2DAC]
GO
ALTER TABLE [dbo].[SinhVien]  WITH NOCHECK ADD  CONSTRAINT [FK__SinhVien__MaLop__625A9A57] FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK__SinhVien__MaLop__625A9A57]
GO
ALTER TABLE [dbo].[Diem]  WITH NOCHECK ADD  CONSTRAINT [CK__Diem__Lan__6AEFE058] CHECK NOT FOR REPLICATION (([Lan]=(1) OR [Lan]=(2)))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK__Diem__Lan__6AEFE058]
GO
ALTER TABLE [dbo].[SinhVien]  WITH NOCHECK ADD  CONSTRAINT [CK__SinhVien__Phai__6442E2C9] CHECK NOT FOR REPLICATION (([Phai]=(1) OR [Phai]=(0)))
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [CK__SinhVien__Phai__6442E2C9]
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraMaLop]    Script Date: 5/4/2021 4:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_KiemTraMaLop]
		@MaLop nvarchar(10)
AS
BEGIN
	IF EXISTS(select 1 from DBO.Lop WHERE DBO.LOP.MaLop = @MaLop)
	BEGIN
		RETURN 1
	END
	IF EXISTS(select 1 from LINK.QLSV.DBO.Lop AS LOP WHERE LOP.MaLop = @MaLop)
	BEGIN
		RETURN 1
	END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoTaiKhoan]    Script Date: 5/4/2021 4:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_TaoTaiKhoan] @LgName varchar(50), @Pass varchar(50), @USERNAME VARCHAR(50), @ROLE VARCHAR(50)
AS
BEGIN
	DECLARE @RET INT
	EXEC @RET = sp_addlogin @LGNAME, @PASS, 'QLSV';

	IF @RET=1
		RETURN 1
	
	EXEC @RET= sp_grantdbaccess @LGNAME, @USERNAME
	IF @RET=-1
	BEGIN
		EXEC sp_droplogin @LGNAME
		RETURN 2
	END
	EXEC sp_addrolemember @ROLE,@USERNAME

	IF @ROLE = 'PGV'
	BEGIN
		EXEC sp_addsrvrolemember @LGNAME,'sysadmin'
		EXEC sp_addsrvrolemember @LGNAME,'SecurityAdmin'
		EXEC sp_addsrvrolemember @LGNAME,'ProcessAdmin'
	END

	IF @ROLE = 'KHOA'
	BEGIN
		EXEC sp_addsrvrolemember @LGNAME,'sysadmin'
		EXEC sp_addsrvrolemember @LGNAME,'SecurityAdmin'
		EXEC sp_addsrvrolemember @LGNAME,'ProcessAdmin'
	END

	IF @ROLE = 'user'
	BEGIN
		EXEC sp_addsrvrolemember @LGNAME,'ProcessAdmin'
	END
END
GO
USE [master]
GO
